
.heading {
    color: rgba(88, 55, 34, 1);
    font-size: 68px;
    font-weight: 600;
}
.style-img {
    width: 100%;
    height: auto;
}
.name {
    color: rgba(132, 85, 55, 1);
    font-size: 40px;
    font-weight: 600;
}
.experience { 
    color: rgba(132, 85, 55, 1);
    font-size: 40px;
    font-weight: 600;
}
















































































