.warts-section {
    background: url('./images/bg.png') no-repeat center center;
    background-size: cover; 
    padding: 60px 0; 
    position: relative;
    padding-top: 10px;
}

.warts-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.warts-content {
    position: relative;
    z-index: 2;
}

.main-heading {
    color: rgba(88, 55, 34, 1);
    font-size: 60px; 
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
}

.wat-title {
    text-align: left; 
    font-size: 30px;
    font-weight: 600;
    color: rgba(88, 55, 34, 1);
    margin-bottom: 10px; 
}

.wat-desc {
    text-align: left; 
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(132, 85, 55, 1);
    margin-bottom: 15px;
}

.wat-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

.back-arrow {
    text-decoration: none;
    color: rgba(132, 85, 55, 1);
    font-size: 2.2rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.back-icon {
    margin-right: 8px;
    font-size: 2.8rem;
}